<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Frank Grammy Award</title>
    <head>
    <body>
    <p style="font-size:50px; font-family:verdana; color:rgb(255, 87, 51);">Grammy Award</p>
    <style>
    table, th,td {border: 1px solid black;}
    </style>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/T0TJDVaT_CU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
    </iframe>
    <table style="width:70%">
  <tr>
    <th>Year</th>
    <th>Award</th> 
    <th>Result</th>
  </tr>
  <tr>
    <td>2013</td>
    <td>Album of the year</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best Urban Contemporary Album</td> 
    <td>Won</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Record of the year</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best Rap</td> 
    <td>Won</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best short music video</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best new artist</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>Album of the year</td> 
    <td>Nominated</td>
  </tr>
  
</table>
  

    
    </body>
</html>



