<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    
    
    
    <img src="/static/picture.png" alt="picture"> 
    <table style="width:100%">
  <tr>
    <th>Year</th>
    <th>Award</th> 
    <th>Result</th>
  </tr>
  <tr>
    <td>2013</td>
    <td>Album of the year</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best Urban Contemporary Album</td> 
    <td>Won</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Record of the year</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best Rap</td> 
    <td>Won</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best short music video</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2013</td>
    <td>Best new artist</td> 
    <td>Nominated</td>
  </tr>
  <tr>
    <td>2015</td>
    <td>Album of the year</td> 
    <td>Nominated</td>
  </tr>
  
</table>
  

    
    </body>
</html>



