<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Frank Ocean</title>
    <head>
    <style>
    body {background-color: rgb(218, 247, 166);}
     </style>

    <pre style="font-family:verdana; color:rgb(199, 0, 57);">
    Blonde (alternatively titled blond) is the second[a] studio album by American singer Frank Ocean. 
    It was released on August 20, 2016, as a timed exclusive on the iTunes Store and Apple Music, and followed the August 19 release of Ocean's video album Endless.
    In 2013, Ocean confirmed that his follow up to Channel Orange would be another concept album. Initially known as Boys Don't Cry and teased for a July 2015 release, 
    the album suffered several delays and was the subject of widespread media anticipation leading up to its release. 
    Its physical release was accompanied by a magazine entitled Boys Don't Cry.
    </pre>
    
    <br>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/AE005nZeF-A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <br>
    <img src="/static/frank.png" alt="Frank Ocean"> 

    </body>
</html>
