<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> Blonde (alternatively titled blond) is the second[a] studio album by American singer Frank Ocean. </p>
    <p>It was released on August 20, 2016, as a timed exclusive on the iTunes Store and Apple Music, and followed the August 19 release of Ocean's video album Endless.</p>
    <p> In 2013, Ocean confirmed that his follow up to Channel Orange would be another concept album. Initially known as Boys Don't Cry and teased for a July 2015 release, the album suffered several delays and was the subject of widespread media anticipation leading up to its release.</p>
    <p> Its physical release was accompanied by a magazine entitled Boys Don't Cry.</p>
    
    <a href="https://www.youtube.com/watch?v=AE005nZeF-A">Song:Ivy</a>
    <img src="/static/frank.png" alt="Frank Ocean"> 
  

    </body>
</html>
