<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <body>
    <p> Name: Silvia Toderas </p>
    <p>Year: Freashman </p>
    <p>Major: Applied Math </p>
    <a href="/frank">Clock here to visit frank page</a>
    <a href="/awards">Clock here to visit the award page</a>
    
    
    
    <a href="https://courseworks2.columbia.edu/users/438495/external_tools/10924">Website I visit a lot unfortunately</a>
    <img src="/static/picture.png" alt="picture"> 
    
  

    
    </body>
</html>

