<!DOCTYPE html>
<html>
    <head>
        <!--specifies title of the page !-->
        <title>Home</title>
    <head>
    <style>
    body {background-color: rgb(255, 234, 187);}
     </style>
    
    <p style="font-family:verdana; color:rgb(88, 24, 69);"> Name: Silvia Toderas </p>
    <p style="font-family:verdana; color:rgb(88, 24, 69);">Year: Freashman </p>
    <p style="font-family:verdana; color:rgb(88, 24, 69);">Major: Applied Math </p>
    <br>
    <a href="/frank">Click here to visit Frank page</a>
    </br>
    <br>
    <a href="/awards">Click here to visit the award page</a>
    </br>
    <br>
    <a href="https://courseworks2.columbia.edu/users/438495/external_tools/10924">Website I visit a lot</a>
    </br>
    <img src="/static/picture.png" alt="picture"> 
    
  

   
    </body>
</html>

